*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
}

header{
    width: 100%;
display: flex;
justify-content: space-between;
padding: 40px 120px;

    & .nav-bar{
font-size: 18px;
display: flex;
gap: 50px;
font-weight: 400;
    }
}